body {
    background-color: rgb(181, 248, 235);
    font-family: "Lato", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: black;
    overflow-y: hidden;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    margin: 0;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(118, 198, 184, 0.7);
    width: 90%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #3a3939;
    padding: 1rem;
}

.startbutton {
    background-color: rgba(128, 209, 239, 0.7);
    font-family: "Lato", sans-serif;
    border: 1px solid black;
    border-radius: 0.25rem;
    height: 10vh;
    width: 20vw;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
    cursor: pointer;
    transition: background-color 1s ease;
    color: black;
}

.startbutton:hover {
    background-color: black;
    color: rgb(128, 209, 239);
}

.startbutton:active {
    background-color: #1d1d1d;
}

footer {
    padding: 20px;
    border-top: 1px solid black;
    font-size: 1rem;
    text-align: center;
    margin-top: auto;
    width: 95%;
    color: black;
}

.password-input {
    height: 35px;
    width: 30vw;
    border: 1px solid black;
    border-radius: 0.25rem;
    margin: 4px;
    text-align: center;
    font-size: 1rem;
    background: rgba(128, 209, 239, 0.7);
    color: black;
}

.password {
    background: #333;
    height: 200px;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #3a3939;
    padding: 1rem;
}

.password-button {
    margin-top: 5px;
    background: #4f4e4e;
    border: 1px solid #fff;
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 0.25rem;
}

.password-button:hover {
    background: #333;
}

.password-button:active {
    background-color: #000000;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0px 5px;
}

.modis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.modis h1 {
    margin-top: 10vh;
}

.highscore-screen {
    display: none;
    text-align: center;
    width: 400px;
    height: 400px;
    background-color: #333;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    margin-right: 1550px;
    margin-bottom: 600px;
    position: absolute;
    border-bottom-right-radius: 0.5rem;
}

.modus {
    height: 25vh;
    width: 20vw;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    margin: 10px;
    padding: 10px;
    background-color: rgba(118, 198, 184, 0.7);
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.modis .modus {
    flex: 1 1 30%;
    margin: 10px;
}

.modus span {
    display: block;
    font-size: 1.2rem;
    color: black;
    margin-top: 10px;
}

.modus-button {
    color: black;
    background-color: rgba(128, 209, 239, 0.7);
    border: 1px solid black;
    border-radius: 0.25rem;
    height: 5vh;
    padding: 0 10px;
    margin-right: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modus-button:hover {
    background-color: black;
    color: rgb(128, 209, 239);
}

.answer-button {
    background-color: rgba(128, 209, 239, 0.7);
    border: 1px solid black;
    height: 30px;
    width: 20vw;
    color: black;
    border-radius: 0.25rem;
    margin: 4px;
    transition: background-color 1s ease;
}

#answers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: rgba(118, 198, 184, 0.7);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-top: 1px solid #fff;
}

.answer-button:active {
    background-color: #000000;
}

.question-screen {
    background: rgba(118, 198, 184, 0.7);
    text-align: center;
    align-items: center;
    height: 350px;
    border: 1px solid white;
    border-radius: 0.5rem;
    width: 43%;
}

.result-screen {
    background: rgba(118, 198, 184, 0.7);
    text-align: center;
    align-items: center;
    height: 300px;
    border: 1px solid white;
    width: 25%;
    border-radius: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: none;
}

.result-screen-content {
    margin-top: 80px;
}

.restart-button {
    color: black;
    background: rgba(128, 209, 239, 0.7);
    margin: 5px;
    height: 30px;
    width: 20vw;
    border: 1px solid white;
    border-radius: 0.25rem;
    transition: background 1s ease;
}

.restart-button:hover {
    color: rgb(128, 209, 239);
    background: black;
}

.about {
    background: none;
    color: black;
    border: none;
    transition: color 0.5s ease;
}

.about:hover {
    color: #077097;
}

.logout {
    color: black;
    background: none;
    border: none;
    display: 1;
}

@media (max-width: 768px) {
    header {
        font-size: 6vw;
    }

    .startbutton {
        width: 50%;
        height: 8vh;
        font-size: 1.2rem;
    }

    footer {
        font-size: 4vw;
    }

    .modus {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 10vw;
    }

    .startbutton {
        width: 80%;
        height: 7vh;
        font-size: 1rem;
    }

    footer {
        font-size: 5vw;
    }

    .modus {
        width: 90%;
    }
}
