body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
}

.login-register {
    background: #262626;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    color: white;
    background: #262626;
}

.btn {

}

.btn:hover {
    background: #151515;
}

.btn:active {
    background: #0e0e0e;
}

button {
    padding: 10px;
    font-size: 16px;
    background: #262626;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
}

button:hover {
    background: #151515;
}

button:active {
    background: #0e0e0e;
}
